<!DOCTYPE html>
<html>

<head>
  <title>Snake Game</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />

  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="/css/bootstrap.min.css">

  <script src="/js/snake.js""></script>


</head>

<body onload="init()">
  <div class="container">
    <h1>Snake Game with Search Algorithms</h1>

    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <label class="input-group-text" for="inputGroupSelect01">Options</label>
      </div>
      <select class="custom-select" id="search" onchange="change_search();">
        <option>BFS</option>
        <option>DFS</option>
        <option>A* - H1</option>
        <option>A* - H2</option>
        <option>A* - (H1+H2)/2</option>
      </select>
    </div>

    <div>
      <input type="button" value="Start" onclick="start();">
      <input type="button" value="Stop" onclick="stop();">
    </div>

    <div id="stats" style="float:right;width:300px;">
      Food Eaten: <span id="food_val"></span><br>
      Moves: <span id="moves_val"></span><br>
      Average Moves: <span id="avg_moves_val"></span><br>
      Average Nodes Processed: <span id="avg_nodes_val"></span><br>
    </div>

    <div id="snake">
      <canvas id="canvas" width="300" height="300"></canvas>
    </div>
  </div>
  <!-- Optional JavaScript -->


  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
</body>

</html>