<!DOCTYPE html>
<html>
  <head>
    <title>Snake Game</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container">
      <h1>Snake Game with Search Algorithms</h1>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <label class="input-group-text" for="inputGroupSelect01">Options</label>
        </div>
        <select class="custom-select" id="inputSearchAlgorithm">
          <option value="BFS" selected>BFS</option>
          <option value="DFS">DFS</option>
          <option value="A">A*</option>
        </select>
      </div>
      <button type="button" class="btn btn-success" id="start">Start</button>
      <button type="button" class="btn btn-danger" id="stop">Stop</button>
      <div id="snake"></div>



    </div>
    <!-- Optional JavaScript -->
    <!-- <script src="/js/snake.js""></script> -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="/js/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.6.1/p5.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.6.1/addons/p5.dom.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.6.1/addons/p5.sound.js"></script>

    <script type="text/javascript" src="/js/sketch.js"></script>
  </body>
</html>
